body{
    text-align: center;
    font-family: sans-serif;
    color:#FFFFEE;
    background: linear-gradient(#0077FF, skyblue) fixed;
    margin: 0 auto;
    overflow:hidden;     /*スクロールバーを隠す*/
  }

.btn {
    display: block;
    width: 100px;
    padding: 5px 0;
    margin: auto;
    background: #cc6600;
    color: #FFFFEE;
    text-decoration: none;
    text-align: center;
}

